body {
  font-family: "Overpass", sans-serif;
  background: black;
  font-size: 13px;
  line-height: 20px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.roundCorners {
  border-radius: 30px;
  background: linear-gradient(to bottom, hsl(213, 19%, 18%), hsl(216, 12%, 8%));
  padding: 28px;
  width: 280px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  color: hsl(0, 0%, 100%);
  font-size: 18px;
}

p,
ul li button {
  color: hsl(217, 12%, 63%);
}

ul {
  list-style: none;
  padding: 0;
}

li button {
  float: left;
  padding: 20px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 30px;
  line-height: 8px;
  margin-right: 8px;
}

li button:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

li button:active {
  background-color: hsl(217, 12%, 63%);
  color: white;
}

.submit-btn {
  display: block;
  background-color: hsl(25, 97%, 53%);
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: hsl(0, 0%, 100%);
}

.submit-btn:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

.clearfix {
  clear: both;
}

.star {
  padding: 10px;
  background-color: hsl(216, 12%, 8%);
  border-radius: 20px;
}

.phone {
}

.success {
  text-align: center;
}

.thank {
  padding: 7px 20px;
  background-color: hsl(216, 12%, 8%);
  display: inline-block;
  border-radius: 17px;
  color: hsl(25, 97%, 53%);
}

.show {
  visibility: visible;
}
.hide {
  visibility: hidden;
}
